DateTimeIntervelControlTest.suo
DateTimeIntervelControlTest/obj/
DateTimeIntervelControlTest/bin/Debug
DateTimeIntervelControlTest/bin/Release

DateTimeIntervelControl/obj/
DateTimeIntervelControl/bin/Debug
DateTimeIntervelControl/bin/Release

